{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "semi": true,
  "printWidth": 80,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "phpVersion": "7.4",
  "braceStyle": "1tbs",
  "trailingCommaPHP": false
}
